# Exploratory Data Visualization
## Line Charts

In [12]:
import pandas as pd

In [13]:
unrate = pd.read_csv('https://raw.githubusercontent.com/aaronsang/data-science-ml-dl-ai-mastery/master/data/unrate.csv')

In [14]:
unrate.loc[:, 'DATE'] = pd.to_datetime(unrate.loc[:, 'DATE'])

In [15]:
unrate.head(12)

         DATE  VALUE
0  1948-01-01    3.4
1  1948-02-01    3.8
2  1948-03-01    4.0
3  1948-04-01    3.9
4  1948-05-01    3.5
5  1948-06-01    3.6
6  1948-07-01    3.6
7  1948-08-01    3.9
8  1948-09-01    3.8
9  1948-10-01    3.7
10 1948-11-01    3.8
11 1948-12-01    4.0